[submodule "ome-common"]
	path = ome-common
	url = https://github.com/ome/ome-common-cpp.git
	branch = master
[submodule "ome-model"]
	path = ome-model
	url = https://github.com/ome/ome-model.git
	branch = master
[submodule "ome-files"]
	path = ome-files
	url = https://github.com/ome/ome-files-cpp.git
	branch = master
[submodule "ome-qtwidgets"]
	path = ome-qtwidgets
	url = https://github.com/ome/ome-qtwidgets.git
	branch = master
[submodule "ome-files-py"]
	path = ome-files-py
	url = https://github.com/ome/ome-files-py.git
	branch = master
[submodule "ome-files-performance"]
	path = ome-files-performance
	url = https://github.com/openmicroscopy/ome-files-performance.git
	branch = master
[submodule "superbuild"]
	path = superbuild
	url = https://github.com/ome/ome-cmake-superbuild
	branch = master
